@import "../../style/colors.pcss";
@import "../../style/font.pcss";

.hello_world{
    background-color: $test;
    font-size: 40px;
    font-family: $font;
    text-align: center;
    width: 40%;
    padding: 4px;
    margin: 0 auto;
    margin-top: 20px;
    .stuff{
        color:red;
    }
}